*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.pdf
*.bak
.ropeproject/
*.swp
*.run.xml
*.bcf
tex/master-thesis-peters-blx.bib
*.nav
*.snm
*.vrb
*.xdy
*.fdb_latexmk
*.fls
